*, *:before, *:after {
    margin: 0;
    padding : 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
    background-color: #212131;
}

body {
    display: flex; /* Use flex display */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    background-color: #212131;
}

.main {
    display: flex; /* Use flex display for the .main container */
    align-items: center;
}

h2 {
    margin-right: 40px;
    color: honeydew;
    display: block;
    margin-bottom: 20px;
}



.Sun {
    align-content: center;
    width : 200px;
    height: 200px;
    background-color: #ffde00;
    border-radius: 50%;
    box-shadow: 0 0 0 20px #FFde0080,
                0 0 0 40px #FFde0040,
                0 0 0 60px #FFde0020,
                0 0 0 80px #FFde0010,
                0 0 0 100px #FFde0000,
                0 0 40px 100px #FFde0010;
    animation: sunrise 2s infinite linear forwards, rays 2s 2s infinite linear;
}

@keyframes sunrise {
    0% {
        box-shadow: none;
    }
}

@keyframes rays {
    0% {
        box-shadow: 0 0 0 0px #FFde0080,
        0 0 0 20px #FFde0080,
        0 0 0 40px #FFde0040,
        0 0 0 60px #FFde0020,
        0 0 0 80px #FFde0010,
        0 0 40px 100px #FFde0010;
    }

    100% {
        box-shadow:
        0 0 0 20px #FFde0080,
        0 0 0 40px #FFde0040,
        0 0 0 60px #FFde0020,
        0 0 0 80px #FFde0010,
        0 0 0 100px #FFde0000,
        0 0 40px 100px #FFde0010
    }
}
